.my-form-elements-web {
}

#elementList
{
	list-style:none;
	padding-left:0px;
}

#elementList li
{
	margin-bottom:5px;
	height: 100%;
    background-color: #b8c7e261;
    padding-left: 20px !important;
    border-radius: 5px;
    border: 0.5px solid;
}

}
.custom-tab-content .sheet-lg 
{
    margin-left: none !important;
}